@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;

    --element: 0 0% 100%;
    --element-foreground: 240 10% 3.9%;

    --primary: 252, 55%, 57%;
    --primary-hover: 252, 55%, 52%;
    --primary-foreground: 355.7 100% 97.3%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 98%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 54.2% 50.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 92%;
    --input: 240 5.9% 92%;
    --ring: 252, 55%, 57%;

    --radius: 0.3rem;
  }

  .dark {
    --background: 240 5% 8%;
    --foreground: 0 0% 95%;

    --element: 240 8% 12%;
    --element-foreground: 0 0% 95%;

    --muted: 240 8% 10%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 8% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 52.8% 35.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 8% 14%;
    --input: 240 8% 14%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-y-scroll bg-background text-foreground;
  }
}

html,
body {
  height: 100%;
}
